body {
	  text-align: center;
	  background-color: coral;
	}

	div {
	  margin-top: 15px;
	}

	.image-section {
	  display: flex;
	  justify-content: center;
        	  background-color: coral;
	}

	.section-style {
	  margin-right: 25px;
	  margin-left: 25px;
	  background-color: coral;
        
	}
img{
    width:500px;
    text-align: center;
    
}
#img3{
    height:350px;
}

